Iteration-4/WebSite_Sree/TestSoapWS-mycommunity/TestSoapWS/TestSoapWS/Web References/SoapWebReference/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetUserData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user_name1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertUserData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user_name1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password_confirm" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phonenumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertUserDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertUserDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCurrentMonthYear">
        <s:complexType />
      </s:element>
      <s:element name="getCurrentMonthYearResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getCurrentMonthYearResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="selectCommunity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user_name1" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="selectCommunityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="selectCommunityResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertMyCommunity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user_name1" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="householdsize" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="householdmembers" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="housetype" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="community" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="street" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="zipcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="latitude" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="longitude" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertMyCommunityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertMyCommunityResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertUtilityBill">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user_name1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="utilitybill" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="month" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="year" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertUtilityBillResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertUtilityBillResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUtilityBill">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user_name1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="utilitybill" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="month" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="year" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUtilityBillResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateUtilityBillResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalculateRewardPoints">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user_name1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="utilitybill" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="month" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="year" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalculateRewardPointsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CalculateRewardPointsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CommunityRewardPoints">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="month" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="year" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CommunityRewardPointsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CommunityRewardPointsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RewardPointsByCommunity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="month" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="year" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RewardPointsByCommunityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RewardPointsByCommunityResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetUserDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserData" />
  </wsdl:message>
  <wsdl:message name="GetUserDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserDataResponse" />
  </wsdl:message>
  <wsdl:message name="InsertUserDataSoapIn">
    <wsdl:part name="parameters" element="tns:InsertUserData" />
  </wsdl:message>
  <wsdl:message name="InsertUserDataSoapOut">
    <wsdl:part name="parameters" element="tns:InsertUserDataResponse" />
  </wsdl:message>
  <wsdl:message name="getCurrentMonthYearSoapIn">
    <wsdl:part name="parameters" element="tns:getCurrentMonthYear" />
  </wsdl:message>
  <wsdl:message name="getCurrentMonthYearSoapOut">
    <wsdl:part name="parameters" element="tns:getCurrentMonthYearResponse" />
  </wsdl:message>
  <wsdl:message name="selectCommunitySoapIn">
    <wsdl:part name="parameters" element="tns:selectCommunity" />
  </wsdl:message>
  <wsdl:message name="selectCommunitySoapOut">
    <wsdl:part name="parameters" element="tns:selectCommunityResponse" />
  </wsdl:message>
  <wsdl:message name="InsertMyCommunitySoapIn">
    <wsdl:part name="parameters" element="tns:InsertMyCommunity" />
  </wsdl:message>
  <wsdl:message name="InsertMyCommunitySoapOut">
    <wsdl:part name="parameters" element="tns:InsertMyCommunityResponse" />
  </wsdl:message>
  <wsdl:message name="InsertUtilityBillSoapIn">
    <wsdl:part name="parameters" element="tns:InsertUtilityBill" />
  </wsdl:message>
  <wsdl:message name="InsertUtilityBillSoapOut">
    <wsdl:part name="parameters" element="tns:InsertUtilityBillResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateUtilityBillSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateUtilityBill" />
  </wsdl:message>
  <wsdl:message name="UpdateUtilityBillSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateUtilityBillResponse" />
  </wsdl:message>
  <wsdl:message name="CalculateRewardPointsSoapIn">
    <wsdl:part name="parameters" element="tns:CalculateRewardPoints" />
  </wsdl:message>
  <wsdl:message name="CalculateRewardPointsSoapOut">
    <wsdl:part name="parameters" element="tns:CalculateRewardPointsResponse" />
  </wsdl:message>
  <wsdl:message name="CommunityRewardPointsSoapIn">
    <wsdl:part name="parameters" element="tns:CommunityRewardPoints" />
  </wsdl:message>
  <wsdl:message name="CommunityRewardPointsSoapOut">
    <wsdl:part name="parameters" element="tns:CommunityRewardPointsResponse" />
  </wsdl:message>
  <wsdl:message name="RewardPointsByCommunitySoapIn">
    <wsdl:part name="parameters" element="tns:RewardPointsByCommunity" />
  </wsdl:message>
  <wsdl:message name="RewardPointsByCommunitySoapOut">
    <wsdl:part name="parameters" element="tns:RewardPointsByCommunityResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="GetUserData">
      <wsdl:input message="tns:GetUserDataSoapIn" />
      <wsdl:output message="tns:GetUserDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertUserData">
      <wsdl:input message="tns:InsertUserDataSoapIn" />
      <wsdl:output message="tns:InsertUserDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getCurrentMonthYear">
      <wsdl:input message="tns:getCurrentMonthYearSoapIn" />
      <wsdl:output message="tns:getCurrentMonthYearSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="selectCommunity">
      <wsdl:input message="tns:selectCommunitySoapIn" />
      <wsdl:output message="tns:selectCommunitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertMyCommunity">
      <wsdl:input message="tns:InsertMyCommunitySoapIn" />
      <wsdl:output message="tns:InsertMyCommunitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertUtilityBill">
      <wsdl:input message="tns:InsertUtilityBillSoapIn" />
      <wsdl:output message="tns:InsertUtilityBillSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUtilityBill">
      <wsdl:input message="tns:UpdateUtilityBillSoapIn" />
      <wsdl:output message="tns:UpdateUtilityBillSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CalculateRewardPoints">
      <wsdl:input message="tns:CalculateRewardPointsSoapIn" />
      <wsdl:output message="tns:CalculateRewardPointsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CommunityRewardPoints">
      <wsdl:input message="tns:CommunityRewardPointsSoapIn" />
      <wsdl:output message="tns:CommunityRewardPointsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RewardPointsByCommunity">
      <wsdl:input message="tns:RewardPointsByCommunitySoapIn" />
      <wsdl:output message="tns:RewardPointsByCommunitySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserData">
      <soap:operation soapAction="http://tempuri.org/GetUserData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUserData">
      <soap:operation soapAction="http://tempuri.org/InsertUserData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCurrentMonthYear">
      <soap:operation soapAction="http://tempuri.org/getCurrentMonthYear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectCommunity">
      <soap:operation soapAction="http://tempuri.org/selectCommunity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertMyCommunity">
      <soap:operation soapAction="http://tempuri.org/InsertMyCommunity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUtilityBill">
      <soap:operation soapAction="http://tempuri.org/InsertUtilityBill" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUtilityBill">
      <soap:operation soapAction="http://tempuri.org/UpdateUtilityBill" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateRewardPoints">
      <soap:operation soapAction="http://tempuri.org/CalculateRewardPoints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CommunityRewardPoints">
      <soap:operation soapAction="http://tempuri.org/CommunityRewardPoints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RewardPointsByCommunity">
      <soap:operation soapAction="http://tempuri.org/RewardPointsByCommunity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserData">
      <soap12:operation soapAction="http://tempuri.org/GetUserData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUserData">
      <soap12:operation soapAction="http://tempuri.org/InsertUserData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCurrentMonthYear">
      <soap12:operation soapAction="http://tempuri.org/getCurrentMonthYear" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectCommunity">
      <soap12:operation soapAction="http://tempuri.org/selectCommunity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertMyCommunity">
      <soap12:operation soapAction="http://tempuri.org/InsertMyCommunity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUtilityBill">
      <soap12:operation soapAction="http://tempuri.org/InsertUtilityBill" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUtilityBill">
      <soap12:operation soapAction="http://tempuri.org/UpdateUtilityBill" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateRewardPoints">
      <soap12:operation soapAction="http://tempuri.org/CalculateRewardPoints" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CommunityRewardPoints">
      <soap12:operation soapAction="http://tempuri.org/CommunityRewardPoints" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RewardPointsByCommunity">
      <soap12:operation soapAction="http://tempuri.org/RewardPointsByCommunity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://134.193.136.38/aspnet_client/Group5/WebSite5/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://134.193.136.38/aspnet_client/Group5/WebSite5/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>